[user_info]
username = "{{ couchdb_user }}"
password = "{{ couchdb_password }}"

[db_info]
host = "{{ groups['instances'][0] }}"
port = "5984"
odl_db_name = "original_tweets"
new_db_name = "processed_tweets"